*{
	margin:0px;
	padding:0px;
}
body{
	font-family:Lato;
}
.container{
	width:1160px;
	height:100%;
	margin:0 auto;
}
.main-back{
	width:100%;
	height:1148px;
	background:url(img/mainbg.jpg) fixed no-repeat;
	background-size:cover;
}
.top-back{
	height:30px;
	width:100%;
	background-color:#fff;
}
.top-back p{
	float:left;
	font-weight:400;
	color:#000;
	margin-left:50px;
	font-size:13px;
	padding-top:7px;
}
.top-back a{
	height:30px;
	width:130px;
	float:right;
	font-weight:400;
	color:#000;
	background-color:#2ECC71;
	text-decoration:none;
	text-align:center;
	line-height:30px;
	margin-right:50px;
	font-size:14px;
	color:#fff;
}
.top-back a:hover{
	background-color:#069A45;
	transition:.3s ease-in all;
}
.menu-back{
	height:90px;
	width:100%;
	background-color:#fff;
}
.menu-back a{
	padding-left:50px;
	float:left;
	padding-top:15px;
}
.menu-back ul{
	float:right;
	margin-right:50px;
}

.menu-back li{
	list-style:none;
	float:left;
}
.menu-back li a{
	float:left;
	text-decoration:none;
	margin:40px 11px 0px 0px;
	padding:0px 8px 5px 8px;
	color:#5f5f5f;
	font-weight:400;
	font-size:13px;
}.menu-back li a:hover {
	font-weight:bold;
}
.menu-back li .active{
	font-weight:bold;
}

.middle .middle-back {
	height:380px;
	width:100%;
	background:url(img/opacity.png) center;
	background-size:cover;
}
.middle-back h1{
	width:430px;
	font-size:38px;
	color:#fff;
	font-weight:300;
	float:left;
	margin-left:130px;
	margin-top:70px;
	margin-bottom:20px;
}
.middle-back ul{
	float:left;
	clear:left;
	margin-left:170px;
}
.middle-back ul li{
	color:#fff;
	font-size:20px;
	font-weight:300;
}
.middle-back img{
	margin-left:200px;
	margin-top:50px;
}
	
.middle-back strong{
	font-weight:500;
}

.total {
	background:#fff;
	width:100%;
}
.pay-back{
	height:120px;
	width:100%;
	margin-bottom:80px;
}
.payment{
	height:119px;
	border-bottom:1px solid #ACACAC;
	margin-left:50px;
	margin-right:50px;
}
.payment h3{
	display:inline;
	font-size:30px;
	font-weight:300;
	color:#A2A2A2;
	padding-left:150px;
	line-height:118px;
	float:left;
}
.payment .img1{
	background:url(img/pm1.jpg) no-repeat;
	background-size:cover;
	height:31px;
	width:150px;
	float:left;
	margin-top:50px;
	margin-left:70px;
}
.payment .img1:hover{
	cursor:pointer;
	background:url(img/pm.png) no-repeat;
	background-size:cover;
	transition:.3s all ease;
}
.payment .img2{
	background:url(img/py1.jpg) no-repeat;
	background-size:cover;
	height:26px;
	width:113px;
	float:left;
	margin-top:50px;
	margin-left:70px;
}
.payment .img2:hover{
	cursor:pointer;
	background:url(img/py.png) no-repeat;
	background-size:cover;
	transition:.3s all ease;
}
.payment .img3{
	background:url(img/btc1.png) no-repeat;
	background-size:cover;
	height:29px;
	width:138px;
	float:left;
	margin-top:50px;
	margin-left:70px;
}
.payment .img3:hover{
	cursor:pointer;
	background:url(img/btc.png) no-repeat;
	background-size:cover;
	transition:.3s all ease;
}

.more{
	width:100%;
	background-color:#fff;
	padding-bottom:30px;
}
.more .learn{
	height:140px;
	background-color:#fff;
    box-shadow:0px 0px 7px 2px #ddd;
	margin-left:50px;
	margin-right:50px;
	margin-top:50px;
	margin-bottom:50px;
}
.more .learn img{
	margin:20px;
	float:left;
}
.more .learn .rig{
	float:left;
}
.more .learn h2{
	color:#fe4800;
	font-weight:300;
	padding-top:20px;
	padding-bottom:5px;
	display:inline-block;
}
.more .learn ol{
	margin-left:17px;
	width:600px;
}
.more .learn ol li{
	font-size:17px;
	color:#565656;
	font-weight:300;
}
.more .learn a{
	height:40px;
	width:170px;
	font-weight:400;
	color:#000;
	background-color:#2ECC71;
	text-decoration:none;
	text-align:center;
	line-height:40px;
	margin-right:20px;
	margin-top:50px;
	font-size:18px;
	color:#fff;
	float:right;
}
.more .learn a:hover{
	background-color:#069A45;
	transition:.3s ease-in all;
}

.more .scissor{
	height:114px;
	background:url(img/discountbg.jpg) center no-repeat;
	background-size:cover;
	margin-left:50px;
	margin-right:50px;
}
.more .scissor h2{
	float:left;
	display:inline;
	padding-left:220px;
	color:#fe4800;
	font-weight:300;
	font-size:26px;
	font-weight:500;
	margin-top:40px;
	margin-bottom:10px;
}
.more .scissor h3{
	float:left;
	display:inline;
	color:#fe4800;
	font-weight:300;
	font-size:26px;
	font-weight:500;
	margin-top:35px;
	margin-bottom:10px;
	padding:5px 70px; 
	margin-left:40px; 
	background-color:#ddd;
}
.more .scissor p{
	text-align:center;
	display:block;
	clear:both;
	color:#fe4800;
	font-style:italic;
	font-size:14px;
}


.more .buy{
	height:320px;
	background-color:#fff;
    box-shadow:0px 0px 7px 2px #ddd;
	margin-left:50px;
	margin-right:50px;
	margin-top:50px;
	margin-bottom:100px;
}
.more .buy .left{
	float:left;
	width:660px;
}
.more .buy .left h2{
	padding:40px 0px 20px 50px;
	color:#fe4800;
	font-weight:300;
	font-size:28px;
}
.more .buy .left p{
	padding-left:50px;
	padding-right:9px;
	color:#848484;
	word-break:break-all;
	line-height:1.3;
}
.more .buy ol{
	margin-left:100px;
	margin-top:15px;
}
.more .buy ol li{
	color:#848484;
}

.more .buy .right{
	float:right;
	width:400px;
}
.more .buy .right h1{
	color:#fe4800;
	text-decoration:line-through;
	font-weight:400;
	font-size:34px;
	float:right;
	margin-right:50px;
	margin-top:50px;
}
.more .buy .right h3{
	color:#fe4800;
	font-weight:200;
	font-size:70px;
	float:right;
	margin-right:50px;
	clear:both;
}
.more .buy .right p{
	font-weight:300;
	font-style:italic;
	font-size:13px;
	color:#fe4800;
	clear:both;
	float:right;
	margin-right:50px;
	margin-bottom:50px;
	margin-top:5px;
}
.more .buy .right a{	
	clear:both;
	float:right;
	margin-right:50px;
	padding:10px 40px;
	background-color:#2ECC71;
	color:#fff;
	text-align:center;
	text-decoration:none;
}
.more .buy .right a:hover{
	background-color:#069A45;
	transition:.3s ease-in all;
}

.more .why{
	margin-bottom:80px;
}
.more .why h1{
	text-align:center;
	color:#fe4800;
	font-weight:300;
	margin-bottom:30px;
	font-size:36px;
}
.more .why h3{
	font-size:20px;
	font-weight:300;
	padding:0px 195px;
	line-height:1.2;
	color:#8A8A8A;
	text-align:center;
	word-break:break-all;
}


.foot{
	height:70px;
	width:100%;
	background-color:#D4D4D4;
}
.foot p{
	text-align:center;
	color:#666666;
	padding-top:15px;
}



















